.board {
  position: absolute;
  width: fit-content;
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  height: 100%;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1328x1920/4883226165180ced9683b26441525bd6/photo-1616484155880-70e4fa69c048.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.board > * {
  width: 200px;
  height: fit-content;
  margin-right: 10px;
}
