.card {
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.card__body {
  padding: 0;
  text-align: right;
}

.card__more {
  background: none;
  border: none;
  padding: 10px;
  z-index: 100;
}
